.header {
	width:100dvw;
	height: 120px;
	padding: 20px;
}

.header .wrapper {
	padding: 10px;
	border-radius: 50px;
	background-color: #27292D;
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 15px 2px #42464B;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .wrapper .wrapper__profile {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	color: white;
}

.header .wrapper .wrapper__profile .profile__icon {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-shadow: 0px 0px 2px 1px #42464B;
}

.header .wrapper .wrapper__profile .profile__info .info__name {
	font-size: 14px;
	font-weight: 700;
}

.header .wrapper .wrapper__profile .profile__info .info__coins {
	font-size: 12px;
	color: gray;
}

.header .wrapper .wrapper__status {
	height: 50px;
	display: flex;
	justify-content: center;
	 align-items: center;
	 border-radius: 50px;
	 padding: 10px;
	 box-shadow: 0px 0px 2px 1px #42464B;
	 display: flex;
	 gap: 10px;
}

.header .wrapper .wrapper__status .status__name {
	color: white;
	font-weight: 700;
	font-size: 14px;
}

@media only screen and (min-width: 576px){
	.header .wrapper .wrapper__profile .profile__info .info__name{
		font-size: 18px;
	}
	.header .wrapper .wrapper__profile .profile__info .info__coins {
		font-size: 16px;
	}
	.header .wrapper .wrapper__status .status__name {
		font-size: 18px;
	}
}