@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap'); 

* {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body, html {
  background: rgb(42,45,50);
  background: linear-gradient(90deg, rgba(42,45,50,1) 0%, rgba(19,19,19,1) 99%);
  overflow-x: hidden;
}